.offers-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.card{
    color: var(--text-secondary-color);
    background-color: black;
    width: 312px;
    height: 288px;
    box-sizing: border-box;
    padding: 24px 16px;
    display: block;
    border-radius: 16px;
    text-align: center;
}

.card header {
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
    margin-bottom: 24px;
    border: none;
}

.card header p {
    font-size: 20px;
    font-weight: var(--text-weight);
    
}

.card header h3 {
    font-size: 40px;
    font-weight: var(--title-weight);
    margin: 8px 0 0;
}

.card header span {
    display: inline-block;
    font-size: 32px;
    margin-top: 24px;

}

.card footer {
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
}

.card.japao {
    background: url("../img/bg-card-japao.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.card.san-andreas {
    background: url("../img/bg-card-san-andreas.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.card.paraiba {
    background: url("../img/bg-card-paraiba.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.card.manaus {
    background: url("../img/bg-card-manaus.png") no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 768px) {
    .offers-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* gap: 24px;
        margin-top: 24px; */
    }

}

@media screen and (min-width: 1024px) {
    .card{
        width: 420px;
        height: 308px;
    }

    .card header h3 {
        font-size: 48px;
    }

    .card header span {
        font-size: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .card{
        width: 588px;
        height: 308px;
    }
}

@media screen and (min-width: 1920px) {
    .offers-cards {
        width: 1250px;
        margin: 0 auto;
    }
}