:root {
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #F5F5F5;
    --background-tertiary-color: #000000;

    --botton-primary-color: #8F0101;
    --botton-secondary-color: #B81515;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}